<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>It’s almost July! Canada and the United States will both turn another year older. Professional sports will take a day off. The NYC subway will break down. Hey, at least it’s not on fire…yet.</p>

<p>Good news: singer-songwriter — and friend-of-Paul’s house concerts — Anne Heaton is coming.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>A long-time Chicagoan and Bostonian who now calls Michigan home, Anne Heaton has earned raves from Boston to Biloxi, not to mention kind words from <cite>Paste</cite> and <cite>Performing Songwriter</cite>.</p>

<p>Anne has six solo albums under her belt, and one more as one quarter of Winterbloom. This folk-pop singer-songwriter has performed at Lilith Fair and Sundance and is a regular at Boston’s Club Passim.</p>

<p>I’m excited to have her back. Don’t miss out.</p>

<%= link_to "Reserve your seats for #{@show.name}", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>