<p>Hi <%= @person.first_name %>,</p>

<p>Happy Saturday! I’m sitting on the lawn at XOXO in Portland, listening to some great music (and avoiding getting sunburned).</p>

<p>This month’s concert is in one week!</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none; width: 30em;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p>Please let me know whether or not you can come:
<br><%= link_to @rsvp_url, @rsvp_url %></p>

<p style="border-bottom: 1px dashed black; width: 30em; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>Andrew Kerr was one of the first people to play at my house, way back in 2002. Since then, he's toured, raised a family, started a construction company…and wrote some more good songs.</p>

<p>Sometimes funny, sometimes thoughtful and always a good storyteller, I’m glad to bring Andrew to Brooklyn.</p>

<p><%= link_to "Spend saturday evening with Andrew Kerr", @rsvp_url %>.</p>


<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
