<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>Holy smokes! That was a crazy — and crazy good — Super Bowl.</p>

<p>Now that football’s over, it’s time for music.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>In three weeks, I'll host my first show of 2017, and my last on Pacific Street. Come help close the place down with singer-songwriter Ari Hest.</p>

<p>While Ari’s baseball dreams didn’t work, out … I’m pretty okay with that. Because it gave us some great music. He’s got seven albums under his belt, gigs 100 nights a year, had songs featured in One Tree Hill and Private Practice, and scored music for an indie film, DreamRiders.</p>

<p>I bet his music professor dad’s okay with that, too.</p>

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>