<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>Happy spring! I’m excited to announce a great lineup of house concerts for 2018: Edie Carey, Jen Lowe and Carlos Olmeda are confirmed so far, with more to be announced soon.</p>

<p>We’re starting off the year with the amazing Patrice Pike.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>Patrice Pike has been rocking for over two decades, as the frontwoman for Sister 7, as a solo performer and alongside Wayne Sutton. She's picked up half a dozen Austin Music Awards, and was the youngest person inducted into the Austin Music Hall of fame.</p>

<p>Patrice’s eclectic mix of rock and soul has earned raves from <cite>Rolling Stone</cite> and <cite>Billboard</cite>. She’s released six solo albums and won Grand Prize Overall and First Prize Rock in the USA Songwriting competition.</p>

<p>We’re thrilled to have her.</p>


<%= link_to "Reserve your seats for #{@show.name}", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>