<p>Hi <%= @person.first_name %>,</p>

<p>Holy smokes! We had a great time with Andrew Kerr last weekend, and his special guest, Teddy Goldstein.

<p>That means it’s almost October, and time to fill up the seats for Rebeccae Loebe. We have an afternoon show for you!</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none; width: 30em;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p>Please let me know whether or not you can come:
<br><%= link_to @rsvp_url, @rsvp_url %></p>

<p style="border-bottom: 1px dashed black; width: 30em; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>Rebecca Loebe is a Virginian-turned-Texan who has a way with a words (and an acoustic guitar). She’s an award-winning regular on the festival circuit (Kerrville, Falcon Ridge) and a charming storyteller.</p>

<p>Rebecca impressed me, and I’m sure she’ll impress you, too.</p>

<p><%= link_to "Say yes to  Saturday afternoon with Rebecca Loebe", @rsvp_url %>.</p>


<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
