<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Hello from sunny Minneapolis! I’m back here for SRCCON, my favourite gathering of journalists and technologists. No sense in waiting until I return to tell you about this month’s show: Natalie Gelman is making her Paul’s House Concerts debut.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>Raised right here in NYC, Natalie Gelman got her start performing on subway platforms. The singer-songwriter has graduated to more aboveground venues, playing shows in across the United States, in Austria and the Caribbean. Natalie graduated from the University of Miami’s music program, opened for Bon Jovi and played audience at Carnegie Hall.</p>

<p>Now she’s singing for you.</p>

<%= link_to "Reserve your seats", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>