<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Good morning! Now that Black Friday, Cyber Monday and Giving Tuesday have all passed, hopefully your inbox has settled down to a dull roar.</p>

<p>Jesse Terry’s show—our last concert of the year—is Friday night. We are 2/3 full already. RSVP today and help us pack the room!</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>After graduating from Berklee and writing songs in Nashville, Jesse Terry hit the road. Since then, he’s released six solo albums and two collaborations: one with Alex Wong (who performed here with Megan Slankard) and another with Michael Logen and Lizanne Knott.</p>

<p>We’re lucky Jesse’s such a terrific singer and guitarist, because as he describes it, he is a “dreadful waiter.”</p>

<p>Come listen as he serves up some great songs and stories.</p>


<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
