<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>May is wrapping up. It’s almost time for the Stanley Cup, the NBA Finals…and the next house concert.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>I’m always excited when I get to host a Canadian musician. Even when it isn’t Canada’s sesquicentennial. But especially when it is.</p>

<p>Shawna Caspi hails from my old home, Toronto. She’s kicking off her northeastern US tour in my new home, Brookyln.</p>

<p>A singer-songwriter and fingerstyle guitarist whose fourth full-length album is weeks away from dropping, Shawna has toured across the US and Canada. From Bowling Green to Asheville, Kamploops to Columbus, she’s racking up rave reviews and winning listeners over with songs that are alternatingly haunting and atmospheric and airy and hopeful.</p>

<%= link_to "RSVP now for #{@show.name}", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>