<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>I hope you had as much fun in the snow as Shooter and I did last Saturday!</p>

<p>Now that we’re all dug out (and avoiding giant slush puddles), it’s time to think about this coming weekend. That’s right — just four days until the Jen Lowe house concert!</p>

<p>Reserve your spot today.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>My friend Natalie and I met Jen Lowe in a Saratoga parking lot after a Jason Mraz concert. It’s a funny story involving a couple of arts-and-crafts projects pranks.</p>

<p>When Jen’s not golfing up a storm or touring with California rockers Jason Mraz and Tristan Prettyman, this New England-based singer-songwriter puts down a cajon or picks up a guitar and writes some fine songs. Whether about the depths of a broken heart or weathering the stormy seas, Jen's voice and gentle caress of her guitar draw you in.</p>

<p><%= link_to "Say yes to Sunday afternoon with Jen Lowe", @rsvp_url_yes %>.</p>


<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>