<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Hallo aus Deutschland! I am here visiting an old friend and am excited to share the music of another old friend with you. Yes, Andrew Kerr is back!</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>Andrew Kerr was one of the first people to play at my house, way back in 2002. Since then, he's toured, raised a family, started a construction company…and wrote some more good songs.</p>

<p>Sometimes funny, sometimes thoughtful and always a good storyteller, it's great to have Andrew grace my living room.</p>

<p><%= link_to "Spend saturday evening with Andrew Kerr", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
