<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Just one week until Terra’s show. I’m excited. Terra’s excited. There are still a few seats left — reserve yours today.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>After 10 years, I’m excited to have Terra Naomi back. Terra was a YouTube star before that was a thing, and turned that into a record contract and a gig at Wembley. A singer-songwriter from Los Angeles, she's played everywhere from Manchester to Mumbai, and kept busy offstage, too. Terra's been adapting music for Broadway and picking up conversational Italian.</p>

<p>She’s making a rare New York appearance. Don’t miss it.</p>

<%= link_to "Reserve your seats", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>