<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Get those pumpkins carved — Halloween is just around the corner. So is November’s house concert.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>We have a special Friday show this month.</p>

<p>Cynthia Catania is Jersey toughness and LA glitz. She is a songwriter, producer and composer. She kissed a girl and she liked it (before Katy Perry).</p>

<p>Formerly half of Saucy Monky, Cynthia is now working on a solo album. Whether she's playing LA’s The Hotel Cafe or Dublin’s O2 in the Park, Cynthia and her guitar impress.</p>

<p>Offstage, Cynthia wrote a travel blog for HuffPost, a sex column for Hot Press, and a song for Veronica Mars (take note, marshmallows!).</p>


<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
