<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Good morning! Yesterday, Canadians voted. There were no voting machines or hanging chads. One polling station stayed open <a href="https://twitter.com/MuhammadLila/status/1186440873871065088">despite 90 km/h winds</a>.</p>

<p>Canadian <s>political analyst</s> singer-songwriter Shawna Caspi will be here in four days to share songs, stories, and the occasional thought on first-past-the-post.</p>

<p>There are still a few seats left. <%= link_to "Get yours today!", @rsvp_url %></p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>While Shawna Caspi calls Toronto home, she’s spent much of the last two years on the road in support of her fourth album, <cite>Forest Fire</cite>, a collection of songs about burning things down and building them up again.</p>

<p>Shawna recently won a silver award in the Mid-Atlantic Song Contest and played at Summerfolk and the Ottawa Grassroots Festival. She’s is also a talented painter, creating (and selling) one-of-a-kind landscapes of the scenes she spots on the road.</p>


<p><%= link_to "Spend Saturday evening with #{@show.name}", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
