<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>March has arrived. Daylight Saving Time has arrived. Last week, I got to visit Denver for the first time.</p>

<p>In two weeks, I get to host Randi Driscoll for the first time. Ever better: unlike my trip to Colorado, you get to be part of this.</p>

<p>Reserve your spot today.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>While, I’d been hearing Randi’s name for years from my time in California. But it took a visit to New Jersey to finally see her live. (Thanks, Amy!)</p>

<p>Randi is a singer, songwriter and pianist who has shared stages with everyone from Bonnie Raitt to Cyndi Lauper. Time after time, she impresses audiences with her lyrics, melodies and wit.</p>

<p>In the mood for great music? <%= link_to "Say yes to Saturday evening with Randi Driscoll", @rsvp_url_yes %>.</p>


<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>