<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>Hello, October!</p>

<p>It’s still unseasonably warm. If it stays that way, you might need to come to the Carlos Olmeda show in shorts.</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>Carlos Olmeda sings folk songs. He sings rock songs. He sings in English. He sings in Spanish. He is funny. He is passionate. He is ambitious.</p>

<p>Puerto Rican—San Diegan—Mainer Carlos Olmeda is all of these things. He’s also a terrific storyteller. Don’t take my word for it.</p>


<%= link_to "Come hear for yourself", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>