<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>Megan and Alex’s show is in four days. Don’t miss out!</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>I’ve been a fan of Megan Slankard’s for almost a decade and a half. Ever since I’ve been in New York, we’ve been trying to put a show together. Good news: it worked.</p>

<p>The one-time star of <cite>What Not To Wear</cite> has five albums under her (fashionable) belt and impressed judges at the UK Songwriting Contest, International Songwriting Contest and Show Me the Music Contest. (She was a finalist in all four.)</p>

<p>Alex Wong is a synesthete, songwriter and producer<sup>1</sup>. He was signed to Epic Records as part of the Din Pedals, been half of The Animators and Paper Raincoat, and put together a string of solo albums. Alex has played with Vienna Teng and Melissa Ferrick, and Paul’s House Concert alums Ari Hest and Jesse Terry.</p>

<%= link_to "Reserve your seats for #{@show.name}", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>

<p>[1] But not a dancer.</p>
</div>