<p>Hi <%= @person.first_name %>,</p>

<p>Good news: it's once again summer. More good news: it's time for an other house concert. Even better news: it's a Carlos Olmeda house concert!</p>

<p style="margin-bottom: 0; padding-bottom: 0">Short attention span version</p>
<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none; width: 20em;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p>Please let me know whether or not you can come:
<br><%= link_to @rsvp_url, @rsvp_url %></p>

<p style="border-bottom: 1px dashed black; width: 22em; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>One of the many great singer-songwriters to emerge for San Diego's coffeehouse scene in the late ’90s, Carlos
spent time writing and playing with Jason Mraz, Jewel and Martin Sexton, among others.</p>

<p>Effortlessly switching between English and Spanish, folk, rock and pop, Carlos both relaxes and energizes you.</p>

<p>Now a Mainer, Carlos will play my first show of 2015. I’m excited to host him — <%= link_to "come join us", @rsvp_url %>.</p>


<p><br/>Paul</p>
