<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>I’m writing from the newest location of Paul’s Brooklyn House Concerts. The lights are up, the stereo is in, the chairs are stacked. Things are looking good for Friday night’s Jesse Terry show.</p>

<p>There are a handful of seats left — <%= link_to "get yours today", @rsvp_url_yes %>.

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>I found out about Jesse my favourite way: while at another concert. Rebecca Loebe asked me to come check out her set. I did — she was great. She performed in the round with two others. One was Jesse.</p>

<p>In addition to the the Rockwood Music Hall and the usuals — Passim in Cambridge, Eddie’s Attic in Decatur — Jesse Terry has played the big stages, too: he’s been to the Philadelphia Folk Festival (four times) and Bonnaroo. Through his four albums, Jesse’s gritty, warm words and music offer hope for a kinder tomorrow.</p>

<%= link_to "RSVP now for Jesse Terry", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
</div>