<div style="max-width: 30em;">
<p>Hi <%= @person.first_name %>,</p>

<p>Hello, July!</p>

<p>I’ve returned from another excellent SRCCON in Minneapolis and am excited to kick off four months of shows!</p>

<ul style="padding: 0.5em 1em; margin-top: 0.5em; border: 1px dashed black; border-left: none; border-right: none;">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it.", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<p style="border-bottom: 1px dashed black; padding-bottom: 0.5em;">A bit about <%= @show.name %></p>

<p>Hailing from Florida (after stops in Connecticut, Wisconsin and Georgia), percussionist, songwriter and guitarist Jen Lowe is returning to Brooklyn for a house concert.</p>

<p>Offstage, Jen works on her golf game. A lot.</p>

<p>Onstage, she mixes country and pop, cajons and guitars and acoustic and electronic sounds with smart, savvy songwriting. Come listen.</p>

<%= link_to "Reserve your seats for #{@show.name}", @rsvp_url_yes %>.

<p><br/>Paul</p>

<p>P.S. If you don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>