<% content_for :title do %><%= page_title("Mailing List") %><% end %>

<h1>Get notified of future shows</h1>

<div class="pagetext">
<p>Join my mailing list to get invited to future house concerts.</p>

<%= form_with model: @person do |f| %>

<div>
	<%= f.label :first_name %>
	<%= f.text_field :first_name, maxlength: 100, size: 50 %>
</div>

<div>
	<%= f.label :last_name %>
	<%= f.text_field :last_name, maxlength: 100, size: 50 %>
</div>

<div>
	<%= f.label :email %>
	<%= f.email_field :email, maxlength: 200, size: 50 %>
</div>

<div>
	<%= f.label :postcode, "Zip Code" %>
	<%= f.text_field :postcode, maxlength: 10, size: 11 %>
</div>

<div>
	<%= f.submit "Join Mailing List" %>
</div>

<% end %>
</div>
