<h1>Reserve seats for a show</h1>

<%= render partial: 'show', locals: { show: @show } %>

<% if @show.nil? || !@show.sold_out? || !@rsvp.new_record? %>
	<div class="pagetext">
	<%= form_with model: @rsvp do |f| %>

	<% if @show && @show.id.present? %>
		<%= f.hidden_field :show_id, value: @show.id %>
	<% else %>
		<%= f.select :show_id, @shows.map{|s| [s.name, s.id]}, include_blank: "[Select a Show]"  %>
	<% end %>

	<div>
		<%= f.label :first_name %>
		<%= f.text_field :first_name, maxlength: 100, size: 50 %>
	</div>

	<div>
		<%= f.label :last_name %>
		<%= f.text_field :last_name, maxlength: 100, size: 50 %>
	</div>

	<div>
		<%= f.label :email %>
		<%= f.email_field :email, maxlength: 200, size: 50 %>
	</div>

	<div>
		<%= f.label :phone_number %>
		<%= f.telephone_field :phone_number, maxlength: 20, size: 50 %>
		<p class="note">Enter your phone number to receive text message reminders.</p>
	</div>

	<div>
		<%= f.label :postcode, "Zip Code" %>
		<%= f.text_field :postcode, maxlength: 10, size: 11 %>
	</div>


	<div>
		<strong>Seats</strong>
		<%= f.hidden_field :seats_reserved, value: 0 %>
		<% (HC_CONFIG.show.min_seats..HC_CONFIG.show.max_seats).each do |count| %>
			<%= f.radio_button :seats_reserved, count %>
			<%= f.label :seats_reserved, count, class: "radio" %>
		<% end %>
	</div>

	<% seats_errors = @rsvp.errors.select{|s| s.attribute == :seats_reserved } %>
	<%= content_tag :p, seats_errors.first.message, class: "error" unless seats_errors.empty? %>

	<div>
		<strong>Attending?</strong>
		<%= f.hidden_field :response %>
		<% HC_CONFIG.rsvp.response.each do |response| %>
			<%= f.radio_button :response, response %>
			<%= f.label :response, response.titleize, value: response, class: "radio" %>
		<% end %>
	</div>

	<% response_errors = @rsvp.errors.select{|s| s.attribute == :response } %>
	<%= content_tag :p, response_errors.first.message, class: "error" unless response_errors.empty? %>

	<div>
		<%= f.hidden_field :referrer %>
		<%= f.submit "Reserve Seats" %>
	</div>

	<% end %>
	</div>
<% end %>