<h1>RSVP for a show</h1>

<% if @show.present? && @show.id.present? %>
	<%= render partial: 'show', locals: { show: @show } %>
<% end %>

<div class="pagetext">
<%= form_for (@rsvp) do |f| %>

<% unless @rsvp.errors.empty? %>
<div class='errors'>
	<p>Please correct the following errors:</p>
	<ul>
	<% @rsvp.errors.each do |attribute, message| %>
	<li><%= message %></li>
	<% end %>
	</ul>
</div>
<% end %>


<% if @show && @show.id.present? %>
	<%= f.hidden_field :show_id, value: @show.id %>

<% else %>
<%= f.select :show_id, @shows.map{|s| [s.name, s.id]}, include_blank: "[Select a Show]"  %>
<% end %>

<p>
	<%= f.label :first_name %>
	<%= f.text_field :first_name, maxlength: 100, size: 50 %>
</p>

<p>
	<%= f.label :last_name %>
	<%= f.text_field :last_name, maxlength: 100, size: 50 %>
</p>

<p>
	<%= f.label :email %>
	<%= f.text_field :email, maxlength: 200, size: 50 %>
</p>

<p>
	<%= f.label :postcode, "Zip Code" %>
	<%= f.text_field :postcode, maxlength: 10, size: 11 %>
</p>


<p>
	<strong>Seats</strong>
	<%= f.hidden_field :seats, value: 0 %>
	<% (HC_CONFIG.show.min_seats..HC_CONFIG.show.max_seats).each do |count| %>
		<%= f.radio_button :seats, count %>
		<%= f.label :seats, count, class: "radio" %>
	<% end %>
</p>


<p>
	<strong>Attending?</strong>
	<%= f.hidden_field :response %>
	<% HC_CONFIG.rsvp.response.each do |response| %>
		<%= f.radio_button :response, response %>
		<%= f.label :response, response, value: response, class: "radio" %>
	<% end %>
</p>



<%= f.submit "Make a Reservation" %>

<% end %>
</div>
