<% if @rsvp.yes? %>
<h1>Thanks for reserving a seat</h1>
<% elsif @rsvp.no? %>
<h1>Sorry you couldn’t make it, <%= @rsvp.first_name %></h1>
<% end %>

<div class="pagetext">

<% if @rsvp.yes? %>

	<p><%= @rsvp.first_name %>, your <%= @rsvp.seats > 1 ? "#{@rsvp.seats.humanize} spots have" : 'spot has' %> been reserved for the <strong><%= @rsvp.show.name %></strong> show on <strong><%= @rsvp.show.start.to_date.to_formatted_s(:long) %>.</strong></p>

	<% if @rsvp.show.next_show? %>
	<p>You’ll receive my address and directions via email in a day or so.</p>
	<%- else %>
	<p>You’ll receive my address and directions a few weeks before the show.</p>
	<% end %>

<% elsif @rsvp.no? %>

	<p>Thanks for letting me know!</p>

<% end %>

</div>