<h1><%= @subject %></h1>

<p>Show: <%= @rsvp.show %></p>

<p>Person: <%= @rsvp.full_name %>
<%- if @rsvp.response != "yes" %>
<br>Response: <%= @rsvp.response %>
<%- end -%>
<%- if @old_seats.nil? and @rsvp.seats_reserved > 0 %>
<br>Seats: <%= @rsvp.seats_reserved %>
<%- elsif !@old_seats.nil? %>
<br>Seats: <%= @old_seats %> → <%= @rsvp.seats_reserved %>
<%- end -%>
<br>On mailing list: <%= @rsvp.person_exists? ? "Yes" : "No" %>
</p>
