<div>
<p>Hi <%= @person.first_name %>,</p>

<p>After a five-year hiatus, my house concert series is back!</p>

<p>This month, I’ll be hosting Nashville-based Amy Speace, and I’d love to have you join us.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>Nashville-based <a href="https://www.amyspeace.com/">Amy Speace</a> is a singer, songwriter, poet and essayist. Amy’s writing weaves vivid imagery and personal stories.</p>

<p>Amy has been heralded by <cite>Rolling Stone</cite>, <cite.>Billboard</cite.> and <cite>The New York Times</cite> and featured on NPR’s “All Things Considered.” <ite>Performing Songwriter</cite> called her 2013 album “How To Sleep in a Stormy Boat” one of the Top 100 Records of the Last Century. She has played across the US and Europe and has graced stages from Glastonbury Festival in the UK to Rocky Mountain Folks Festival in Colorado.</p>

<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you have moved or don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
