<div>
<p>Hi <%= @person.first_name %>,</p>

<p>We’re looking forward to welcoming Rebecca Loebe to Brooklyn this Sunday, and there are still a handful of seats available. Please reserve your spot so we can ensure a full house for her performance.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>
<p>Rebecca Loebe’s music has earned praise from <cite>Rolling Stone</cite> and NPR. She’s won awards in Kerrville and Austin, released a baker’s dozen albums and impressed folks on both sides of the pond. <cite>Billboard</cite>? Check. The BBC? Also check.</p>

<p>Rebecca has played with Shawn Colvin, The Civil Wars, Gregory Alan Isakov, Mary Chapin Carpenter, and Ellis Paul. She’s in the middle of a tour of the northeast, and we’re excited to host her Brooklyn stop.</p>

<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url_yes %>.</p>

<p><br/>Paul</p>

<p>P.S. If you have moved or don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
