<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Happy September! I hope you’ve had a great summer. I’m off to Hudson West Fest today. Before I leave, I wanted to make sure you heard about the Cynthia Catania show in two weeks! Cynthia is an old friend of the series, and this is her second time playing here in Brooklyn.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>Cynthia Catania grew up in the New York City music scene. Romanced by California and all things west coast, she moved to Los Angeles on the heels of the Northridge earthquake.</p>

<p>After forming Saucy Monky with Annmarie Cullen, they performed for festival audiences across Europe — opening for Wilco, The B52s, Black Eyed Peas, The Cure, Pink and PJ Harvey.</p>

<p>Putting on her composer hat, Cynthia's work on the short film <cite>Once More, Like Rainman,</cite> won Best Comedy Short at the LA Shorts International Film Festival. She was awarded Best Composer at the Bridge Fest Film Festival in Vancouver, BC.</p>

<p>In November of 2023, Cynthia began collaborating with Rich Devletian. The duo, known for their hypnotic performances, is recording their debut EP in Los Angeles.</p>

<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you have moved or don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
