<div>
<p>Hi <%= @person.first_name %>,</p>

<p>We had a great start to the year with Jackson Howard and his wife Jenny — evocative songs and stories, and friendly faces old and new.</p>

<p>I am super-excited to have Chris Pierce back! He last played my series when it was in San Francisco. It’s not too often that I get someone who plays both Celebrate Brooklyn <em>and</em> my living room.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>
<p>Chris Pierce first blew me away with his SXSW performance in 2008, and he’s only gotten better.</p>

<p>A fantastic songwriter with tremendous range and a soulful voice, Chris has a stage presence that doesn’t so much command attention but instead draws you in and keeps you rapt.</p>

<p>Chris has sung with Neil Young, B.B. King, Steve Earle, Aaron Neville and and Blind Boys of Alabama and had his praises sung by <cite>Rolling Stone</cite> and <cite>American Songwriter</cite>.</p>

<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url_yes %>.</p>

<p><br/>Paul</p>

<p>P.S. If you have moved or don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
