<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Thanks so much to all of you who gave Amy such a warm welcome last month. For May, I’m excited to host Anya Marina for the third time — and the first time in Brooklyn.</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>She’s sassy. She’s funny. She’s smart-assy. She once got kicked out of The Mint in Los Angeles for an R-rated lyric.</p>

<p>San Diego radio DJ turned singer-songwriter Anya Marina has put out six studio albums, toured the country and shared stages with Nikki Glaser and Jason Mraz. Her music has been featured on Grey's Anatomy, Gossip Girl and Twilight.</p>

<p>Anya now calls New York state home, and I’m thrilled to have her back at my house.</p>

<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url %>.</p>

<p><br/>Paul</p>

<p>P.S. If you have moved or don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
