<div>
<p>Hi <%= @person.first_name %>,</p>

<p>Happy Tuesday! We’re four days away from Jackson Howard’s show. There are still a few seats left, and you can help fix that. <%= link_to "Reserve your seat today", @rsvp_url_yes %>.</p>

<p>For those of you new to the series, I host concerts in my living room. Touring artists stop here between bar and club gigs, and you get the opportunity to see them in a great listening room. And, of course, there’s cake!</p>

<ul class="summary">
<li><%= @show.name %></li>
<li><%= @show.start_date %> &middot; <%= @show.start_time %></li>
<li><%= @show.venue.location %></li>
<li>RSVP for location/directions</li>
</ul>

<p class="actions"><strong>
<%= link_to "Yes! I’m in for #{@show.name}!", @rsvp_url_yes, class: 'button', style: 'background-color: #408000; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
<%= link_to "Sorry, I can’t make it", @rsvp_url_no, class: 'button', style: 'background-color: #444; color: white; padding: 5px 10px; text-decoration: none; display: inline-block; margin-top: 5px; border-radius: 3px;' %>
</strong></p>

<h2>A bit about <%= @show.name %></h2>

<p>Jackson Howard is a singer-songwriter from Philly with an acoustic guitar, a stack of songs…and a PhD in Exercise Physiology <em>and an</em> RN/BSN. After trading academia for folk life, he toured across the US, Canada, Iceland and western Europe.</p>

<p>Get ready for the show by listening to Jackson’s four albums: About Life, Just For the Mystery, New Day Begun and From Quarantine: Shelter In Place Sessions.</p>

<p>The doctor (and nurse) will see you on <%= @show.start_date_short %>.</p>

<p><%= link_to "Spend #{@show.day_of_week} evening with #{@show.name}", @rsvp_url_yes %>.</p>

<p><br/>Paul</p>

<p>P.S. If you have moved or don’t want to receive house concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>.</p>

</div>
