<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<%= Settings.meta_description %>">
	<meta name="keywords" content="<%= Settings.meta_keywords %>">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:widgets:csp" content="on" />
	<meta name="twitter:site" content="<%= Settings.twitter_name %>" />
	<meta name="twitter:site:id" content="<%= Settings.twitter_id %>" />
	<meta name="twitter:title" content="<%= social_media_title(@show) %>" />
	<meta name="twitter:description" content="<%= social_media_description(@show) %>" />
	<meta name="twitter:image" content="<%= social_media_image(@show) %>" />

	<meta property="fb:app_id" content="<%= Settings.facebook_app_id %>" />

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="<%= Settings.site_name %>" />
	<meta property="og:title" content="<%= social_media_title(@show) %>" />
	<meta property="og:description" content="<%= social_media_description(@show) %>" />
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:image" content="<%= social_media_image(@show) %>" />

	<link rel="apple-touch-icon" href="<%= apple_touch_icon %>">
	<link rel="icon" sizes="any" mask href="<%= svg_icon %>">
	<title><%= yield :title %></title>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
	<%= javascript_include_tag "application" %>

	<% if Rails.env.production? %>
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= Settings.google_analytics_id %>"></script>
	<script type="text/javascript">
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '<%= Settings.google_analytics_id %>');
	</script>
	<% end %>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
</head>
<body>
	<% if notice.present? %><p class="notice"><%= notice %></p><% end %>
	<% if alert.present? %><p class="alert"><%= alert %></p><% end %>
	<%= render partial: "navbar" %>

<%= yield %>

</body>
</html>
