<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<%= HC_CONFIG.meta_description %>">
	<meta name="keywords" content="<%= HC_CONFIG.meta_keywords %>">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:widgets:csp" content="on" />
	<meta name="twitter:site" content="<%= HC_CONFIG.twitter_name %>" />
	<meta name="twitter:site:id" content="<%= HC_CONFIG.twitter_id %>" />
	<meta name="twitter:title" content="<%= social_media_title %>" />
	<meta name="twitter:description" content="<%= social_media_description %>" />
	<meta name="twitter:image" content="<%= social_media_image %>" />

	<meta property="fb:app_id" content="<%= HC_CONFIG.facebook_app_id %>" />
	<meta property="article:publisher" content="https://www.facebook.com/<%= HC_CONFIG.facebook_page_slug %>" />

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="<%= HC_CONFIG.site_name %>" />
	<meta property="og:title" content="<%= social_media_title %>" />
	<meta property="og:description" content="<%= social_media_description %>" />
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:image" content="<%= social_media_image %>" />

	<link rel="apple-touch-icon" href="<%= apple_touch_icon %>">
	<link rel="icon" sizes="any" mask href="<%= svg_icon %>">
	<title><%= page_title %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script type="text/javascript">
	window.fbAsyncInit = function() {
	  FB.init({ appId: '<%= HC_CONFIG.facebook_app_id %>', xfbml: true, version: 'v2.3' });
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	 }(document, 'script', 'facebook-jssdk'));
	 </script>

	<% if Rails.env.production? %>
	<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-1895263-1', 'auto');  // Replace with your property ID.
	ga('send', 'pageview');

	</script>
	<% end %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
